<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobileDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>congTraffic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>congWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78E20A1B1BCD03A30026B6B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78E20A241BCD03A30026B6B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F82AE91BC2F14400454A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F82AFD1BC2F14400454A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F82B081BC2F14400454A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78F82B1E1BC2F21200454A7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
